<ion-header>
  <ion-toolbar>
    <ion-title>
      Área do triangulo Retângulo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>O Triangulo Retangulo</h1>
  <img src = "https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiQ0tyWmezhAhVoLLkGHYspBVoQjRx6BAgBEAU&url=http%3A%2F%2Fwww.profcardy.com%2Fcardicas%2Fseno-no-triangulo-retangulo.php&psig=AOvVaw1HWeLPmSxgK3FLFNRBRhBR&ust=1556314421714075" alt = "Triangulo retângulo e seus respectivos catetos e ângulos">
  <p></p>
  <br>
  <ion-input [(ngModel)] = altura>Coloque a alturado trangulo retângulo</ion-input>
  <br>
  <ion-input [(ngModel)] = base>Coloque a base do trangulo retângulo</ion-input>

  <ion-button (click) = "calcularArea(altura,base)"> Calcular a Área do triângulo! </ion-button>
  <br>
  <p>Resultado --> |{{ areaf }}|</p>
  <br>
  <ion-button href = "home"> Voltar para a Página inicial</ion-button>
</ion-content>
