<ion-header>
  <ion-toolbar>
    <ion-title>Triangulo Equilátero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>O Triângulo Equilátero</h1>
    <p></p>
    <br>
    <!--Colocar a imagem aqui-->
    <br>
    <h2>Calcular a Area de um Triangulo Equilátero</h2>
    <br>
    <ion-input [(ngModel)] = "lado">Digite um lado do Triângulo Equilátero</ion-input>
    <br>
    <ion-button (click) = "calcularArea(lado)"> Calcular a Área ! </ion-button>
    <br>
    <p>Resultado --> |{{ areaR }}| </p>
    <br>
    <ion-button href = "home">Voltar para a pagina inicial</ion-button>
</ion-content>
<ion-footer>
</ion-footer>
